.page {
    margin: 0 auto;
    width: 100%;
}

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }


.page-home      { 
    position: absolute;
    }
.page-web     { 
    position: absolute;
    }
.page-content     { 
    position: absolute;
    }


.home-background {
    background-color: none;
}
.web-background {
    background-image: url("/app/images/beach.jpeg");
    background-size: cover;
}
.content-background {
    background-image: url("/app/images/graffiti.jpeg");
    background-size: cover;
}


.page-home.ng-leave         {
    animation: slideOutLeft 1s both ease-in, fadeOut 1s;
}
.page-home.ng-enter         {  
    animation: slideInRight 1s both ease-in, fadeIn 1s;  
}

.page-web.ng-leave         {
    animation: slideOutLeft 1s both ease-in, fadeOut 1s;
}
.page-web.ng-enter         {  
    animation: slideInRight 1s both ease-in, fadeIn 1s;  
}

.page-content.ng-leave         {
    animation: slideOutLeft 1s both ease-in, fadeOut 1s;
}
.page-content.ng-enter         {  
    animation: slideInRight 1s both ease-in, fadeIn 1s;  
}

@keyframes slideInRight {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes fadeIn {
    from    { opacity: 0.0; }
    to      { opacity: 1.0; }
}

@keyframes slideOutLeft {
    from    { transform:translateY(0); }
    to      { transform: translateY(-100%); }
}

@keyframes fadeOut {
    from    { opacity: 1.0; }
    to      { opacity: 0.0; }
}

