* {
	box-sizing: border-box;
        }

html {
	overflow: hidden;
  	height: 100%;
	  //above 2 values get rid of the "jump" of white space at top or bottom of page, combined with top 2 below.
}

body{
	height: 100%;
  	overflow: auto;
	   //above 2 values get rid of the "jump" of white space at top or bottom of page, combined with top 2 above.
}


#wrapper {
	width: 100%;
	height: 100%;

}

article {
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	height: 100%;
}
#logo {
	display: block;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;

	// 	@media (min-width: 525px) {
	// 	width: 80%;
	// }

	@media (min-width: 700px) {
		width: 50%;
	}
	
	// @media (min-width: 750px) {
	// 	width: 50%;
	// }
	@media (min-width: 900px) {
		width: 40%;
	}

	@media (min-width: 1075px) {
		width: 25%;
	}
}

//Content of individul pages

ul.quickNav {
	display: flex;
	justify-content: center;
	padding-left: 0;
	position: relative;
	margin-top: -99.7%;
    font-family: "Futura, "Century Gothic", AppleGothic, sans-serif";
   	font-weight: lighter;
   	font-size: 100%;
   	letter-spacing: 2px;
	
}

ul.quickNav li {
list-style: none;
font-weight: lighter;
}

ul.quickNav a {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	font-weight: lighter;
	text-decoration: none;
	background-color: white;
	margin-right: 1px;
}

ul.quickNav a#last {
	margin-right: 0px;
}

p.title {
	// position: relative;
	// margin-top: -95%;
	margin-left: 5%;
    color: white;
    font-family: "Futura, "Century Gothic", AppleGothic, sans-serif";
   font-weight: 300;
   font-size: 150%;
   letter-spacing: 2px;
}

p.description {
	margin-left: 5%;
	margin-right: 5%;
    color: white;
    font-family: "Futura, "Century Gothic", AppleGothic, sans-serif";
   font-weight: lighter;
   font-size: 100%;
   letter-spacing: 1.5px;
}



.thumb {
	width: 30%;
	margin-top: .5rem;
	margin-left: 5%;

	@media (min-width: 525px) {
		width: 25%;
		}
}

#socialDiv {
	clear: both;
	height: 80px;
	width: 130px;
	padding-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

#facebook-square {
	fill: rgba(31,178,111,.9);;	
}

#linkedin-square {
	fill: rgba(31,178,111,.9);;	
}

