* {
	box-sizing: border-box;
        }

html {
	overflow: hidden;
  	height: 100%;
	  //above 2 values get rid of the "jump" of white space at top or bottom of page, combined with top 2 below.
}

body{
	height: 100%;
  	overflow: auto;
	   //above 2 values get rid of the "jump" of white space at top or bottom of page, combined with top 2 above.
}

#wrapper {
	width: 100%;

	@media (min-width: 525px) {
		width: 80%;
		margin: 0 auto;
	}

	@media (min-width: 650px) {
		width: 70%;
		margin: 0 auto;
	}
	
	@media (min-width: 750px) {
		width: 60%;
		margin: 0 auto;
	}
	@media (min-width: 900px) {
		width: 50%;
		margin: 0 auto;
	}

	@media (min-width: 1075px) {
		width: 45%;
		margin: 0 auto;
	}

}

article {
	position: relative;
}


#logo {
	display: block;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

// #container{
// 	height: 60%
// }

#socialDiv {
	clear: both;
	height: 80px;
	width: 188px;
	padding-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	// background-color: yellow;
}

#facebook-square {
	fill: rgb(31,178,111);	
}

