.grid#contactSquare {
background-color: rgba(123,123,123,.9);
width: 101%;
padding-top: 101%;
margin-top: 0;

@media (min-width: 700px) {
		width: 50%;
        padding-top: 50%;
		}
}

 .grid#contactSquare ul.quickNav a:hover {
	background-color: rgba(123,123,123,0);
	color: white;
}

span.bolder {
	font-weight: bolder;
	color: rgb(31,178,111);
}

input {
	border-radius: 5px;
	width: 60%;
}

textarea {
	border-radius: 5px;
	width: 90%;
	height: 100px;
	border: none;
}

#emailLink {
	color: white;
	text-decoration: none;
}

#emailLink:hover {
	font-weight: bolder;
}

#submit {
	margin-left: 5%;
	width: 30%;
}

#contactSocial {
	margin-left: 5%;
	padding-bottom: 5%;
}


