.grid#contentSquare {
background-color: rgba(118,88,134, .9);
width: 100%;
padding-top: 100%;
margin-top: 0;

@media (min-width: 700px) {
		width: 50%;
        padding-top: 50%;
		}
}

 .grid#contentSquare ul.quickNav a:hover {
	background-color: rgba(246,201,0,0);
	color: white;
}

