.grid#designSquare {
background-color: rgba(255,20,147,.9);
width: 100%;
padding-top: 100%;
margin-top: 0;

@media (min-width: 700px) {
		width: 50%;
        padding-top: 50%;
		}
}

 .grid#designSquare ul.quickNav a:hover {
	background-color: rgba(246,201,0,0);
	color: white;
}