.modal-header  {
    background-color: rgba(0,0,0,.7);
    border: none;
}

.modalImg {
    width: 90%;
    display: block;
    margin: 10px auto;
}

h4#myModalLabel.modal-title {
    color: rgba(255,255,255,.8);
}

.modal-content {
background-color: rgba(0,0,0,.4);
}

.close {
    color: white;
    opacity: .8;
}

button.btn.btn-primary {
    background-color: rgba(0,0,0,.1);
    border: none;
    border-radius: 0px;
    color: rgba(255,255,255,1);
    // font-weight: 700;
}

button.btn.btn-primary:hover {
    font-weight: 700;
}